Repository vlang/v, pull requests merged in 2019-12, with the labels that each got.

#2866 Implement string.{split_nth,split_single_nth} and add tests
  vlib/builtin/js/string.v
  vlib/builtin/string.v
  vlib/builtin/string_test.v
Labels: vlib

#2951 mysql: make the struct from private to pub & update some code
  vlib/mysql/mysql.v
Labels: vlib

#2958 mysql: add error handling
  vlib/mysql/mysql.v
Labels: vlib

#2956 Adding support for Haiku Operating System (part 2)
  vlib/compiler/cc.v
  vlib/compiler/main.v
  vlib/os/os.v
Labels: compiler, vlib

#2969 tools: update gen_vc with -output-cross-platform-c
  tools/gen_vc.v
Labels: tooling

#2977 Add sdl module to vlib (with tVintris example)
  vlib/builtin/cfns.v
  vlib/os/os.v
  vlib/sdl/LICENSE
  vlib/sdl/README.md
  vlib/sdl/examples/tvintris/README.md
  vlib/sdl/examples/tvintris/fonts/RobotoMono-Regular.ttf
  vlib/sdl/examples/tvintris/images/tvintris.png
  vlib/sdl/examples/tvintris/images/v-logo_30_30.png
  vlib/sdl/examples/tvintris/sounds/TwintrisThosenine.mod
  vlib/sdl/examples/tvintris/sounds/block.wav
  vlib/sdl/examples/tvintris/sounds/single.wav
  vlib/sdl/examples/tvintris/sounds/triple.wav
  vlib/sdl/examples/tvintris/tvintris.v
  vlib/sdl/image/README.md
  vlib/sdl/image/image.v
  vlib/sdl/sdl.v
Labels: vlib

#3001 sdl: Separate sdl module into multiple, dependent submodules
  .github/workflows/ci.yml
  Dockerfile.alpine
  vlib/sdl/examples/basic_window/main.v
  vlib/sdl/examples/tvintris/tvintris.v
  vlib/sdl/image/image.v
  vlib/sdl/mixer/mixer.v
  vlib/sdl/sdl.v
  vlib/sdl/ttf/ttf.v
Labels: vlib

#3157 tools: update tools/performance_compare.v to have more knowledge about v
  tools/performance_compare.v
Labels: tooling, tools

#3156 builtin/array.v: Fix typo in new_array (cap -> cap_)
  vlib/builtin/array.v
Labels: vlib

#3158 compiler: small DRY
  vlib/compiler/scanner.v
Labels: compiler

#3163 Update vtest to print separator with dynamic width
  tools/vtest.v
Labels: compiler

#3155 [needs cleanup] compiler: generic struct support
  vlib/compiler/cgen.v
  vlib/compiler/expression.v
  vlib/compiler/fn.v
  vlib/compiler/gen_c.v
  vlib/compiler/gen_js.v
  vlib/compiler/get_type.v
  vlib/compiler/main.v
  vlib/compiler/parser.v
  vlib/compiler/struct.v
  vlib/compiler/table.v
  vlib/compiler/tests/generic_test.v
Labels: compiler

#3154 compiler: map[string]pointer, ?pointer, fix []pointer
  vlib/builtin/array_test.v
  vlib/builtin/map_test.v
  vlib/compiler/compile_errors.v
  vlib/compiler/comptime.v
  vlib/compiler/expression.v
  vlib/compiler/fn.v
  vlib/compiler/for.v
  vlib/compiler/gen_c.v
  vlib/compiler/get_type.v
  vlib/compiler/if_match.v
  vlib/compiler/parser.v
  vlib/compiler/struct.v
  vlib/compiler/table.v
  vlib/compiler/tests/option_test.v
Labels: compiler

#3162 add time.parse_iso
  vlib/time/time.v
  vlib/time/time_test.v
Labels: vlib

#3186 tools/fast: remove unused function
  tools/fast/fast_main.js
  vlib/http/http.v
Labels: tooling, tools

#2880 os: fix tmpdir on unix
  vlib/os/os.v
Labels: vlib

#3205 Create hanio.v: Hanio Tower.
  examples/hanoi.v
Labels: examples
