Repository vlang/v, pull requests merged in 2019-11, with the labels that each got.

#2795 fix new_array in vlib/builtin/array.v
  vlib/builtin/array.v
Labels: clean-up

#2815 compiler: Emit Option_ typedef for fn args and struct fields
  vlib/compiler/fn.v
  vlib/compiler/struct.v
Labels: compiler

#2816 tools: add feature to calculate the difference between current and previous results
  tools/fast/.gitignore
  tools/fast/fast.v
  tools/fast/footer.html
  tools/fast/header.html
  tools/fast/main.js
Labels: tools

#2796 add docs
  docs/docs.md
Labels: documentation

#2790 vlib: add cli module
  examples/.gitignore
  examples/cli.v
  vlib/cli/command.v
  vlib/cli/command_test.v
  vlib/cli/flag.v
  vlib/cli/flag_test.v
  vlib/cli/help.v
  vlib/cli/version.v
Labels: vlib

#2826 compiler: add -vpath and -vlib_path options
  vlib/compiler/comptime.v
  vlib/compiler/main.v
  vlib/compiler/modules.v
Labels: compiler

#2774 os: mkdir() error handling
  tools/gen_vc.v
  tools/vcreate.v
  tools/vpm.v
  vlib/compiler/cc.v
  vlib/compiler/main.v
  vlib/compiler/module_header.v
  vlib/compiler/vtmp.v
  vlib/os/os.v
  vlib/os/os_nix.v
  vlib/os/os_test.v
  vlib/os/os_windows.v
  vlib/vweb/assets/assets.v
Labels: vlib

#2868 eventbus: make it usable and add README
  examples/eventbus/.gitignore
  examples/eventbus/eventbus.v
  examples/eventbus/some_module/some_module.v
  tools/vtest.v
  vlib/eventbus/README.md
  vlib/eventbus/eventbus.v
Labels: vlib

#2888 enable alpine/musl CI tests
  .github/workflows/alpine.build.sh
  .github/workflows/alpine.test.sh
  .github/workflows/ci.yml
  Dockerfile.alpine
  README.md
  vlib/builtin/builtin.v
  vlib/builtin/string.v
  vlib/compiler/main.v
  vlib/compiler/tests/repl/run.v
  vlib/compiler/tests/repl/runner/runner.v
  vlib/compiler/vtools.v
  vlib/math/math_test.v
  vlib/os/os.v
Labels: vlib

#2916 vlib/compiler/parser: Make _V_mret_ declarations unique by putting p.token_idx in them. This fixes #2913
  vlib/compiler/parser.v
  vlib/compiler/tests/repeated_multiret_values_test.v
  vlib/compiler/tests/reusable_mut_multiret_values_test.v
Labels: compiler

#2929 [user_mod_path fix] be sure to append module name for module search path
  vlib/compiler/modules.v
Labels: compiler

#2924 Docs: fix interface example
  doc/docs.md
Labels: documentation
