Repository vlang/v, pull requests merged in 2020-01, with the labels that each got.

#3328 examples/tetris: update README for macOS
  examples/tetris/README.md
Labels: examples

#3330 compiler: avoid redeclaration of var during reassignment with optiona…
  vlib/compiler/gen_c.v
Labels: compiler

#3362 tools: distinguish complier args and tool args
  v.v
  vlib/compiler/vtools.v
Labels: tooling, tools
