Repository vlang/v, pull requests merged in 2023-05, with the labels that each got.

#18097 changelog: fix wording about C++20 support
  CHANGELOG.md
Labels: Unit: Documentation

#18174 cgen: fix option with multi return assign
  vlib/v/gen/c/assign.v
  vlib/v/tests/option_multi_return_assign_test.v
Labels: Unit: cgen, Option type

#18173 cgen: fix option unwrap from ovoid function
  vlib/db/sqlite/sqlite_vfs_lowlevel_test.v
  vlib/db/sqlite/vfs_lowlevel.v
  vlib/sqlite/vfs_lowlevel.v
  vlib/v/gen/c/cgen.v
  vlib/v/slow_tests/inout/option_unwrap_err.out
  vlib/v/slow_tests/inout/option_unwrap_err.vv
Labels: Unit: cgen, Option type, Breaking Change
