Repository vlang/v, pull requests merged in 2023-06, with the labels that each got.

#18318 vlib: Improvements to the context module
  cmd/tools/vtest-self.v
  vlib/context/README.md
  vlib/context/cancel_test.v
  vlib/context/context.v
  vlib/context/deadline_test.v
  vlib/context/empty.v
  vlib/context/onecontext/onecontext.v
  vlib/context/onecontext/onecontext_test.v
Labels: Unit: vlib

#18388 cgen: define enum default value standard
  vlib/net/http/cookie.v
  vlib/v/gen/c/cgen.v
  vlib/v/tests/enum_default_test.v
Labels: Unit: Compiler, Unit: cgen

#18428 mysql: fix error handling in the `connect` function, use the `connect` function with params instead of the `connect` method for the `Connection` struct.
  examples/database/mysql.v
  examples/database/orm.v
  vlib/db/mysql/mysql.v
  vlib/db/mysql/mysql_orm_test.v
  vlib/db/mysql/orm.v
  vlib/db/mysql/stmt.c.v
Labels: Breaking Change

#18513 cgen: fix code generation for generic unions
  vlib/v/gen/c/struct.v
  vlib/v/tests/generics_union_dump_test.v
Labels: Unit: Compiler, Generics[T], Unit: cgen

#18535 parser: remove hardcoded check for function calls for `C.stat`, `C.sigaction`, etc
  vlib/builtin/builtin_windows.c.v
  vlib/builtin/cfns.c.v
  vlib/os/os.c.v
  vlib/os/os_windows.c.v
  vlib/time/time.c.v
  vlib/v/parser/parser.v
Labels: Unit: Compiler, Unit: Parser
