Repository vlang/v, pull requests merged in 2023-03, with the labels that each got.

#17503 v: support interface field compile time reflection
  vlib/v/checker/comptime.v
  vlib/v/gen/c/comptime.v
  vlib/v/gen/c/testdata/comptime_interface_field.out
  vlib/v/gen/c/testdata/comptime_interface_field.vv
Labels: Unit: Compiler, Unit: Checker, Unit: cgen

#17525 cgen: fix struct initialization for nested option struct
  vlib/v/gen/c/struct.v
  vlib/v/tests/option_struct_init_test.v
Labels: Unit: cgen, Option Fields

#17543 v: Rename variable it into index
  cmd/tools/vast/vast.v
  doc/docs.md
  vlib/builtin/array_test.v
  vlib/rand/rand.v
  vlib/v/ast/ast.v
  vlib/v/gen/c/array.v
  vlib/v/gen/c/fn.v
  vlib/v/gen/c/infix.v
  vlib/v/gen/c/str.v
  vlib/v/gen/c/testdata/array_init_no_error.vv
  vlib/v/gen/native/amd64.v
  vlib/v/parser/containers.v
  vlib/v/slow_tests/inout/printing_const_array.vv
  vlib/v/tests/array_with_it_test.v
  vlib/v/tests/closure_generator_test.v
  vlib/v/tests/for_in_ref_arr_test.v
  vlib/v/tests/generic_fn_infer_fn_type_argument_test.v
Labels: Unit: Compiler, Unit: Parser, Unit: cgen

#17577 builtin: Add `rsplit` functions
  vlib/builtin/string.v
  vlib/builtin/string_test.v
Labels: Unit: vlib

#17598 builtin: string test refactor, string functions inlining
  vlib/builtin/string.v
  vlib/builtin/string_test.v
Labels: Unit: vlib

#16928 json2: encode map
  vlib/x/json2/encode_struct_test.v
  vlib/x/json2/encoder.v
  vlib/x/json2/json2.v
  vlib/x/json2/json_module_compatibility_test/json_test.v
  vlib/x/json2/json_module_compatibility_test/json_todo_test.vv
Labels: Need rebase

#17769 v: Fix concrete function type as generic type
  vlib/v/ast/table.v
  vlib/v/tests/concrete_type_as_generic_type_test.v
Labels: Unit: Compiler, Unit: Type System

#17780 v: Fix concrete fn type that returns pair type as generic type
  vlib/v/ast/table.v
  vlib/v/tests/concrete_type_as_generic_type_test.v
Labels: Unit: Compiler, Unit: Type System, Generics[T]
